.header {
  background-color: #5b9bd5;
  padding: 10px;
  width: 100%;

  .description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .filter {
    .filter__Input {
      width: 100%;
      padding: 10px;
    }
  }
}